<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Home')}"></head>

    <body>
        <nav th:replace="~{fragments/navbar :: nav()}"></nav>
        
        <div class="container py-4">
            <h1 th:text="'The Best by ' + ${name}" class="text-center mb-5"></h1>
            <div class="row justify-content-center pt-3">
                <div class="col-12 col-sm-10 col-md-6 col-lg-5 p-3">
                    <a th:href="@{/movies}" class="hoverable">
                        <div th:replace="~{fragments/card :: card('Movies', '/images/movies.webp')}"></div>
                    </a>
                </div>
                <div class="col-12 col-sm-10 col-md-6 col-lg-5 p-3">
                    <a th:href="@{/songs}" class="hoverable">
                        <div th:replace="~{fragments/card :: card('Songs', '/images/songs.jpg')}"></div>
                    </a>
                </div>
            </div>

        </div>
    </body>
</html>